# ####################################################
# DIRECTORIES
# ####################################################

node_modules
dist

# ####################################################
# FILES
# ####################################################

package-lock.json